stages:
  - build
  - deploy

build:
  stage: build
  image: node:18
  cache:
    paths:
      - node_modules/
  before_script:
    - npm ci
  script:
    - npm run build
  artifacts:
    paths:
      - dist
    expire_in: 1 hour
  only:
    - main

deploy:
  stage: deploy
  image: ubuntu:latest
  dependencies:
    - build
  before_script:
    - apk add --no-cache bash openssh-client rsync
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts
  script:
    - echo "Starting rsync..."
    - rsync -avz -e "ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no" --rsync-path="/usr/bin/rsync" --delete dist/ "$DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH"

  only:
    - main
