@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: #131826;
  margin: 0 auto;
  color: #D6DCEC;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #4646464D;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #464646CC;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: none;
  background: transparent;
}

mark {
  background-color: transparent;
}

.picker-wrapper {
  width: 100%;
}
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.styled-code {
  background-color: #2b1a40;
  color: #c3aaff;    
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  white-space: pre-wrap;
}
.styled-quote {
  display: inline-block;
  border-left: 5px solid rgb(0, 200, 255);
  margin: 0;
  padding: 0 10px;
  color: #D6DCEC;
  font-style: italic;
  background-color: rgba(0, 200, 255, 0.199);
  border-radius: 3px;
}
.styled-spoiler {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: transparent;
  background-color: rgba(255, 255, 255, 0.05);
  filter: blur(4px);
}

.styled-spoiler::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 4px 4px;
  border-radius: inherit;
  pointer-events: none;
}