@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: #131826;
  margin: 0 auto;
  color: #D6DCEC;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #4646464D;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #464646CC;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: none;
  background: transparent;
}

mark {
  background-color: transparent;
}